// colors
// $primary-color: #262626;
$primary-color: #3797ef;
$blue-link-color: #3797ef;
$grey-color: #737373;
$grey-color_half: #7373732f;
$white-color: #fff;
$red-color: #e00000;
$green-color: #6ac40a;

// screens
$small-screen: 576px;
$medium-screen: 768px;
$large-screen: 992px;
$extra-large-screen: 1200px;
